# Игнорировать IDE-специфичные файлы
.idea/

# Игнорировать файлы окружения
.env

# Игнорировать логи отладки
debug.log

# Игнорировать файлы базы данных SQLite
*.sqlite3
*.sqlite

# Игнорировать все файлы внутри каталогов миграций, кроме __init__.py
**/migrations/*
!**/migrations/__init__.py

# Игнорировать виртуальное окружение Python
venv/

# Игнорировать медиа
media/

# Игнорировать файлы пай кэша Python
*.pyc
__pycache__/