{% load i18n %}
{% autoescape off %}
Здравствуйте, {{user.username}}!

Вы получили это письмо, потому что мы получили запрос на сброс пароля для вашей учетной записи.

Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ссылка действительна в течение {{ timeout }} часов.

Если вы не запрашивали сброс пароля, проигнорируйте это письмо.

С наилучшими пожеланиями,
Команда поддержки Лайт ЛМС
{% endautoescape %}
