{# Подключение index #}
{% extends 'index.html' %}

{# Подключение заголовка #}
{% block title %}
Форма файла
{% endblock %}

{# Подключение кастомных тегов #}
{% load custom_tags %}
{% load guardian_tags %}

{% block content %}

<div class="detail-card-with-image-container">

    <div class="content-type-div">
        <span class="content-type-basic">Файл</span>
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="form">
        {# Стандартная защита формы #}
        {% csrf_token %}
        {# Создание формы на основе представления #}
        {{ form.as_p }}
        <nav class="form-menu">
            <button type="button" onclick="history.back();" class="button">Отмена</button>
            <input type="submit" value="Сохранить" class="button"/>
        </nav>
    </form>

</div>

{% endblock content %}