{# Подключение index #}
{% extends 'index.html' %}

{# Подключение кастомных тегов #}
{% load custom_tags %}
{% load guardian_tags %}

{# Подключение заголовка #}
{% block title %}
Контакты
{% endblock title %}

{# Подключение контента #}
{% block content %}

{# Вывод элемента #}
<div class="material-container-header">

    {% if object %}

        <div class="h1-center">
            <h1>{{object.name}}</h1>
        </div>

</div>

<div class="material-container">

        <div class="material">
            <div class="material-content">
                <p>{{object.content|safe}}</p>
            </div>
        </div>

    {% else %}

        {# Вывод сообщения, если элемента нет #}
        <div class="not-found">
            <p>Контакты не найдены!</p>
        </div>

    {% endif %}

</div>

{% if user|perms:"core.add_contacts" or user|perms:"core.change_contacts" %}
    <div class="material-container-footer">

        {# Управление #}
        <div class="submenu-container">
            <nav class="submenu">
                {% if object %}
                    {% if user|perms:"core.add_contacts" %}
                        <a href="{% url 'core:contacts_update' %}">Изменить</a>
                    {% endif %}
                {% else %}
                    {% if user|perms:"core.change_contacts" %}
                        <a href="{% url 'core:contacts_create' %}">Создать</a>
                    {% endif %}
                {% endif %}
            </nav>
        </div>

    </div>
{% endif %}

{% endblock content %}
