{# Подключение index #}
{% extends 'index.html' %}

{# Подключение кастомных тегов #}
{% load custom_tags %}
{% load guardian_tags %}

{# Подключение заголовка #}
{% block title %}
Главная
{% endblock title %}

{# Подключение контента #}
{% block content %}

<div class="detail-container">

    <div class="home-container">

        {# Главная страница #}
        {% if user.is_authenticated %}
            <div class="h1-center">
                <h1>Добро пожаловать, {{user.username}}!</h1>
            </div>
            <div class="auth-text">
                <div><p>Вы авторизованы, можете приступать к обучению!</p></div>
                <div class="informers-grid">
                    {% if appointed_paths_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=appointed" class="informers-grid-item informers-grid-item-button">
                            <div>
                                <div>
                                    Назначено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{appointed_paths_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container">
                            <div>
                                <div>
                                    Назначено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{appointed_paths_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if paths_in_progress_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=in_progress" class="informers-grid-item informers-grid-item-button">
                            <div>
                                <div>
                                    Траектории в процессе
                                </div>
                                <div>
                                    <span class="informer-int">{{paths_in_progress_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container">
                            <div>
                                <div>
                                    Назначено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{paths_in_progress_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if completed_paths_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=completed" class="informers-grid-item informers-grid-item-button informers-grid-item-button-completed">
                            <div>
                                <div>
                                    Пройдено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{completed_paths_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container informers-grid-item-container-completed">
                            <div>
                                <div>
                                    Пройдено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{completed_paths_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if failed_paths_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=failed" class="informers-grid-item informers-grid-item-button informers-grid-item-button-failed">
                            <div>
                                <div>
                                    Провалено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{failed_paths_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container informers-grid-item-container-failed">
                            <div>
                                <div>
                                    Провалено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{failed_paths_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="submenu-container">
                <nav class="submenu">
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выход</a>
                    <a href="{% url 'password_change' %}">Изменить пароль</a>
                </nav>
            </div>

            {% else %}
            <div class="h1-center">
                <h1>Здравствуйте!</h1>
            </div>
            <div class="auth-text">
                <div>
                    <p>Это демо-стенд "Лайт ЛМС".</p>
                    <p>Вы еще не авторизованы, <a href="{% url 'login' %}">войдите</a> в систему!</p>
                </div>
            </div>
        {% endif %}

    </div>

    {% if user.is_authenticated %}

        <div class="tab-menu-container">
            <nav class="tab-menu">
                <a href="#tab1" class="tab-menu-link" onclick="openTab(event, 'tab1')">Назначенные задачи [{{appointed_education_count}}]</a>
                <a href="#tab2" class="tab-menu-link" onclick="openTab(event, 'tab2')">Задачи в процессе [{{education_in_progress_count}}]</a>
                <a href="#tab3" class="tab-menu-link" onclick="openTab(event, 'tab3')">Пройденные задачи [{{completed_education_count}}]</a>
                <a href="#tab4" class="tab-menu-link" onclick="openTab(event, 'tab4')">Проваленные задачи [{{failed_education_count}}]</a>
            </nav>
        </div>

        <div class="tab-content-container">

            <div id="tab1" class="tab-content">
                {# Вывод элементов #}
                {% if appointed_education_page_obj %}
                    <div class="tab-list-grid">
                        {% for obj in appointed_education_page_obj %}
                            <div class="tab-list-grid-item">
                                <div class="tab-list-grid-item-content">
                                    <p class="text-align-right">
                                        <span class="content-type-sub">
                                            {{obj.get_type_display}}
                                        </span>
                                    </p>
                                    <h3>
                                        {% if obj.type == 'learning_path' %}
                                            {{obj.learning_path.name}}
                                        {% elif obj.type == 'material' %}
                                            {{obj.material.name}}
                                        {% elif obj.type == 'course' %}
                                           {{obj.course.name}}
                                        {% elif obj.type == 'test' %}
                                            {{obj.test.name}}
                                        {% elif obj.type == 'event' %}
                                            {{obj.event.name}}
                                        {% endif %}
                                    </h3>
                                    <p><span class="description-item">Планируемая дата завершения:</span>
                                        {% if obj.planned_end_date %}
                                            {{obj.planned_end_date}}
                                        {% elif obj.learning_path_result.planned_end_date %}
                                            {{obj.learning_path_result.planned_end_date}}
                                        {% elif obj.date %}
                                            {{obj.date}}
                                        {% else %}
                                            Отсутствует
                                        {% endif %}
                                    </p>
                                    <div class="submenu-mini submenu-mini-end">
                                        {% if obj.type == 'learning_path' %}
                                            <a href="{% url 'learning_path:learning_path' pk=obj.learning_path.id %}">Подробнее</a>
                                        {% elif obj.type == 'material' %}
                                            <a href="{% url 'materials:material' pk=obj.material.id %}">Подробнее</a>
                                        {% elif obj.type == 'course' %}
                                            <a href="{% url 'courses:course' pk=obj.course.id %}">Подробнее</a>
                                        {% elif obj.type == 'test' %}
                                            <a href="{% url 'testing:test' pk=obj.test.id %}">Подробнее</a>
                                        {% elif obj.type == 'event' %}
                                            <a href="{% url 'events:event' pk=obj.event.id %}">Подробнее</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if appointed_education_page_obj.has_previous %}
                            <a href="?{% url_replace appointed_education_page=1 %}">1</a>
                            {% if appointed_education_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace appointed_education_page=appointed_education_page_obj.previous_page_number %}">{{ appointed_education_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ appointed_education_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if appointed_education_page_obj.has_next %}
                            <a href="?{% url_replace appointed_education_page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                            {% if appointed_education_page_obj.paginator.num_pages != appointed_education_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace appointed_education_page=appointed_education_page_obj.paginator.num_pages %}">{{ appointed_education_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {# Вывод сообщения, если элементов нет #}
                        <div class="not-found">
                            <p>Учебные задачи не найдены!</p>
                        </div>
                {% endif %}
            </div>

            <div id="tab2" class="tab-content">
                {# Вывод элементов #}
                {% if education_in_progress_page_obj %}
                    <div class="tab-list-grid">
                        {% for obj in education_in_progress_page_obj %}
                            <div class="tab-list-grid-item">
                                <div class="tab-list-grid-item-content">
                                    <p class="text-align-right">
                                        <span class="content-type-sub">
                                            {{obj.get_type_display}}
                                        </span>
                                    </p>
                                    <h3>
                                        {% if obj.type == 'learning_path' %}
                                            {{obj.learning_path.name}}
                                        {% elif obj.type == 'material' %}
                                            {{obj.material.name}}
                                        {% elif obj.type == 'course' %}
                                           {{obj.course.name}}
                                        {% elif obj.type == 'test' %}
                                            {{obj.test.name}}
                                        {% elif obj.type == 'event' %}
                                            {{obj.event.name}}
                                        {% endif %}
                                    </h3>
                                    <p><span class="description-item">Планируемая дата завершения:</span>
                                        {% if obj.planned_end_date %}
                                            {{obj.planned_end_date}}
                                        {% elif obj.learning_path_result.planned_end_date %}
                                            {{obj.learning_path_result.planned_end_date}}
                                        {% elif obj.date %}
                                            {{obj.date}}
                                        {% else %}
                                            Отсутствует
                                        {% endif %}
                                    </p>
                                    <div class="submenu-mini submenu-mini-end">
                                        {% if obj.type == 'learning_path' %}
                                            <a href="{% url 'learning_path:learning_path' pk=obj.learning_path.id %}">Подробнее</a>
                                        {% elif obj.type == 'material' %}
                                            <a href="{% url 'materials:material' pk=obj.material.id %}">Подробнее</a>
                                        {% elif obj.type == 'course' %}
                                            <a href="{% url 'courses:course' pk=obj.course.id %}">Подробнее</a>
                                        {% elif obj.type == 'test' %}
                                            <a href="{% url 'testing:test' pk=obj.test.id %}">Подробнее</a>
                                        {% elif obj.type == 'event' %}
                                            <a href="{% url 'events:event' pk=obj.event.id %}">Подробнее</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if education_in_progress_page_obj.has_previous %}
                            <a href="?{% url_replace education_in_progress_page=1 %}">1</a>
                            {% if education_in_progress_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace education_in_progress_page=education_in_progress_page_obj.previous_page_number %}">{{ education_in_progress_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ education_in_progress_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if education_in_progress_page_obj.has_next %}
                            <a href="?{% url_replace education_in_progress_page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                            {% if education_in_progress_page_obj.paginator.num_pages != education_in_progress_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace education_in_progress_page=education_in_progress_page_obj.paginator.num_pages %}">{{ education_in_progress_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {# Вывод сообщения, если элементов нет #}
                        <div class="not-found">
                            <p>Учебные задачи не найдены!</p>
                        </div>
                {% endif %}
            </div>
            <div id="tab3" class="tab-content">
                {# Вывод элементов #}
                {% if completed_education_page_obj %}
                    <div class="tab-list-grid">
                        {% for obj in completed_education_page_obj %}
                            <div class="tab-list-grid-item">
                                <div class="tab-list-grid-item-content">
                                    <p class="text-align-right">
                                        <span class="content-type-sub">
                                            {{obj.get_type_display}}
                                        </span>
                                    </p>
                                    <h3>
                                        {% if obj.type == 'learning_path' %}
                                            {{obj.learning_path.name}}
                                        {% elif obj.type == 'material' %}
                                            {{obj.material.name}}
                                        {% elif obj.type == 'course' %}
                                           {{obj.course.name}}
                                        {% elif obj.type == 'test' %}
                                            {{obj.test.name}}
                                        {% elif obj.type == 'event' %}
                                            {{obj.event.name}}
                                        {% endif %}
                                    </h3>
                                    <p><span class="description-item">Дата завершения:</span>
                                        {{obj.end_date}}
                                    </p>
                                    {% if obj.score_scaled %}
                                        <p><span class="description-item">Полученный балл (%):</span>
                                            {{obj.score_scaled}}
                                        </p>
                                    {% endif %}
                                    <div class="submenu-mini submenu-mini-end">
                                        {% if obj.type == 'learning_path' %}
                                            <a href="{% url 'learning_path:learning_path' pk=obj.learning_path.id %}">Подробнее</a>
                                        {% elif obj.type == 'material' %}
                                            <a href="{% url 'materials:material' pk=obj.material.id %}">Подробнее</a>
                                        {% elif obj.type == 'course' %}
                                            <a href="{% url 'courses:course' pk=obj.course.id %}">Подробнее</a>
                                        {% elif obj.type == 'test' %}
                                            <a href="{% url 'testing:test' pk=obj.test.id %}">Подробнее</a>
                                        {% elif obj.type == 'event' %}
                                            <a href="{% url 'events:event' pk=obj.event.id %}">Подробнее</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if completed_education_page_obj.has_previous %}
                            <a href="?{% url_replace completed_education_page=1 %}">1</a>
                            {% if completed_education_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace completed_education_page=completed_education_page_obj.previous_page_number %}">{{ completed_education_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ completed_education_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if completed_education_page_obj.has_next %}
                            <a href="?{% url_replace completed_education_page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                            {% if completed_education_page_obj.paginator.num_pages != completed_education_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace completed_education_page=completed_education_page_obj.paginator.num_pages %}">{{ completed_education_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {# Вывод сообщения, если элементов нет #}
                        <div class="not-found">
                            <p>Учебные задачи не найдены!</p>
                        </div>
                {% endif %}
            </div>

            <div id="tab4" class="tab-content">
                {# Вывод элементов #}
                {% if failed_education_page_obj %}
                   <div class="tab-list-grid">
                        {% for obj in failed_education_page_obj %}
                            <div class="tab-list-grid-item">
                                <div class="tab-list-grid-item-content">
                                    <p class="text-align-right">
                                        <span class="content-type-sub">
                                            {{obj.get_type_display}}
                                        </span>
                                    </p>
                                    <h3>
                                        {% if obj.type == 'learning_path' %}
                                            {{obj.learning_path.name}}
                                        {% elif obj.type == 'material' %}
                                            {{obj.material.name}}
                                        {% elif obj.type == 'course' %}
                                           {{obj.course.name}}
                                        {% elif obj.type == 'test' %}
                                            {{obj.test.name}}
                                        {% elif obj.type == 'event' %}
                                            {{obj.event.name}}
                                        {% endif %}
                                    </h3>
                                    <p><span class="description-item">Дата завершения:</span>
                                        {{obj.end_date}}
                                    </p>
                                    {% if obj.score_scaled %}
                                        <p><span class="description-item">Полученный балл (%):</span>
                                            {{obj.score_scaled}}
                                        </p>
                                    {% endif %}
                                    <div class="submenu-mini submenu-mini-end">
                                        {% if obj.type == 'learning_path' %}
                                            <a href="{% url 'learning_path:learning_path' pk=obj.learning_path.id %}">Подробнее</a>
                                        {% elif obj.type == 'material' %}
                                            <a href="{% url 'materials:material' pk=obj.material.id %}">Подробнее</a>
                                        {% elif obj.type == 'course' %}
                                            <a href="{% url 'courses:course' pk=obj.course.id %}">Подробнее</a>
                                        {% elif obj.type == 'test' %}
                                            <a href="{% url 'testing:test' pk=obj.test.id %}">Подробнее</a>
                                        {% elif obj.type == 'event' %}
                                            <a href="{% url 'events:event' pk=obj.event.id %}">Подробнее</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if failed_education_page_obj.has_previous %}
                            <a href="?{% url_replace failed_education_page=1 %}">1</a>
                            {% if failed_education_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace failed_education_page=failed_education_page_obj.previous_page_number %}">{{ failed_education_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ failed_education_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if failed_education_page_obj.has_next %}
                            <a href="?{% url_replace failed_education_page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                            {% if failed_education_page_obj.paginator.num_pages != failed_education_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace failed_education_page=failed_education_page_obj.paginator.num_pages %}">{{ failed_education_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}

                    </div>
                {% else %}
                    {# Вывод сообщения, если элементов нет #}
                        <div class="not-found">
                            <p>Учебные задачи не найдены!</p>
                        </div>
                {% endif %}
            </div>

        </div>

    {% endif %}
</div>
{% endblock content %}
