{# Подключение index #}
{% extends 'index.html' %}

{# Подключение кастомных тегов #}
{% load custom_tags %}
{% load guardian_tags %}

{# Подключение заголовка #}
{% block title %}
Главная
{% endblock title %}

{# Подключение контента #}
{% block content %}

<div class="detail-container">

    <div class="home-container">

        {# Главная страница #}
        {% if user.is_authenticated %}
            <div class="h1-center">
                <h1>Добро пожаловать, {{user.username}}!</h1>
            </div>
            <div class="auth-text">
                <div>
                    <p>Вы авторизованы, можете перейти в меню или <a href="{% url 'core:personal_area' pk=request.user.pk %}">личный кабинет</a> сотрудника!</p>
                </div>
                <div class="informers-grid">
                    {% if appointed_paths_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=appointed" class="informers-grid-item informers-grid-item-button">
                            <div>
                                <div>
                                    Назначено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{appointed_paths_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container">
                            <div>
                                <div>
                                    Назначено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{appointed_paths_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if paths_in_progress_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=in_progress" class="informers-grid-item informers-grid-item-button">
                            <div>
                                <div>
                                    Траектории в процессе
                                </div>
                                <div>
                                    <span class="informer-int">{{paths_in_progress_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container">
                            <div>
                                <div>
                                    Назначено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{paths_in_progress_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if completed_paths_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=completed" class="informers-grid-item informers-grid-item-button informers-grid-item-button-completed">
                            <div>
                                <div>
                                    Пройдено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{completed_paths_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container informers-grid-item-container-completed">
                            <div>
                                <div>
                                    Пройдено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{completed_paths_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if failed_paths_count != 0 %}
                        <a href="{% url 'learning_path:learning_paths' %}?latest_result_status=failed" class="informers-grid-item informers-grid-item-button informers-grid-item-button-failed">
                            <div>
                                <div>
                                    Провалено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{failed_paths_count}}</span>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <div class="informers-grid-item informers-grid-item-container informers-grid-item-container-failed">
                            <div>
                                <div>
                                    Провалено траекторий
                                </div>
                                <div>
                                    <span class="informer-int">{{failed_paths_count}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="submenu-container">
                <nav class="submenu">
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выход</a>
                    <a href="{% url 'password_change' %}">Изменить пароль</a>
                </nav>
            </div>

            {% else %}
            <div class="h1-center">
                <h1>Здравствуйте!</h1>
            </div>
            <div class="auth-text">
                <div>
                    <p>Это демо-стенд "Лайт ЛМС".</p>
                    <p>Вы еще не авторизованы, <a href="{% url 'login' %}">войдите</a> в систему!</p>
                </div>
            </div>
        {% endif %}

    </div>

</div>
{% endblock content %}
