{# Подключение index #}
{% extends 'index.html' %}

{# Подключение кастомных тегов #}
{% load custom_tags %}
{% load guardian_tags %}

{# Подключение заголовка #}
{% block title %}
Политика конфиденциальности
{% endblock title %}

{# Подключение контента #}
{% block content %}

{# Вывод элемента #}
<div class="material-container-header">

    <div class="content-type-div">
        <span class="content-type-basic">Политика конфиденциальности</span>
    </div>

    {% if object %}

        <div class="h1-center">
            <h1>{{object.name}}</h1>
        </div>

</div>

<div class="material-container">

        <div class="material">
            <div class="material-content">
                <p>{{object.content|safe}}</p>
            </div>
        </div>

    {% else %}

        {# Вывод сообщения, если элемента нет #}
        <div class="not-found">
            <p>Политика конфиденциальности не найдена!</p>
        </div>

    {% endif %}

</div>

<div class="material-container-footer">

    {# Управление #}
    <div class="submenu-container">
        <nav class="submenu">
            {% if object %}
                {% if user|perms:"core.add_privacypolicy" %}
                    <a href="{% url 'core:privacy_policy_update' %}">Изменить</a>
                {% endif %}
            {% else %}
                {% if user|perms:"core.add_privacypolicy" %}
                    <a href="{% url 'core:privacy_policy_create' %}">Создать</a>
                {% endif %}
            {% endif %}
        </nav>
    </div>

</div>

{% endblock content %}
