{# Подключение index #}
{% extends 'index.html' %}

{# Подключение кастомных тегов #}
{% load custom_tags %}
{% load guardian_tags %}

{# Подключение заголовка #}
{% block title %}
Мероприятие
{% endblock title %}

{# Подключение контента #}
{% block content %}

{# Вывод элемента #}

<div class="detail-container">

    <div class="detail-card-container">

        <div class="content-type-div">
            <span class="content-type-basic">Мероприятие</span>
            {% if reviews_average_mark %}<span class="review-average-mark">{{reviews_average_mark}}</span>{% endif %}
        </div>

        {% if object %}
            <div>
                <h1>{{object.name}} </h1>
            </div>
            <div class="detail-content">
                {% if result %}
                    {% if result.presence_mark == 'registered' %}
                        <p class="status-big">{{result.get_presence_mark_display}}</p>
                    {% endif %}
                    {% if result.presence_mark == 'present' %}
                        <p class="status-big status-completed">{{result.get_presence_mark_display}}</p>
                    {% endif %}
                    {% if result.presence_mark == 'refused' or result.presence_mark == 'absent' %}
                        <p class="status-big status-failed">{{result.get_presence_mark_display}}</p>
                    {% endif %}
                {% endif %}
                <p><span class="description-item">Тип:</span> {{object.get_type_display}}</p>
                {% if object.categories.exists %}
                    <p><span class="description-item">Категории:</span>
                        {% for category in object.categories.all %}
                            <span>
                                <a href="{% url 'events:events' %}?сategory={{category.id}}" target="_blank">{{category}}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                <p><span class="description-item">Статус:</span> {{object.get_status_display}}</p>
                <p ><span class="description-item">Дата проведения:</span> {{object.date}}</p>
                <p ><span class="description-item">Время проведения:</span> {{object.start_time}} - {{object.end_time}}</p>
                {% if object.type == 'webinar' or object.type == 'in-person_and_webinar' %}
                    <p><span class="description-item">Ссылка на вебинар:</span> <a href="{{object.webinars_link}}" target="_blank">{{object.webinars_link}}</a></p>
                {% endif %}
                {% if object.type == 'in-person' or object.type == 'in-person_and_webinar' %}
                    <p><span class="description-item">Место проведения:</span> {{object.location}}</p>
                {% endif %}
                <p><span class="description-item">Участие обязательно:</span> {{object.mandatory|yesno}}</p>
                <p><span class="description-item">Отвественные:</span>
                    {% for responsible in object.responsibles.all %}
                        <span>
                            {{responsible}}{% if not forloop.last %}, {% endif %}
                        </span>
                    {% endfor %}
                </p>
                {% if object.materials.exists %}
                    <p><span class="description-item">Материалы:</span>
                        {% for material in object.materials.all %}
                            <span>
                                <a href="{% url 'materials:material' pk=material.id %}" target="_blank">{{material}}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if object.files.exists %}
                    <p><span class="description-item">Файлы:</span>
                        {% for file in object.files.all %}
                            <span>
                                <a href="{% url 'materials:file' pk=file.id %}" target="_blank">{{file}}</a>{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if object.bonus != 0 %}
                    <p><span class="description-item">Бонусы:</span> {{object.bonus}}</p>
                {% endif %}
            </div>
            {# Управление #}
            <div class="submenu-container">
                <nav class="submenu">
                    {% if object.status != 'completed' and object.status != 'canceled' %}
                        {% if result %}
                            {% if result.presence_mark != 'present' and result.presence_mark != 'absent' %}
                                {% if result.presence_mark != 'refused' and object.mandatory == False %}
                                    <a href="{% url 'events:participants_mark' pk=result.id presence_mark='refused' %}">Отказаться от участия</a>
                                {% endif %}
                                {% if result.presence_mark != 'registered' and result.presence_mark != 'absent' %}
                                    <a href="{% url 'events:participants_mark' pk=result.id presence_mark='registered' %}">Вернуться к участию</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if object.self_appointment == True %}
                                <a href="{% url 'learning_path:self_appointment' pk=object.id type='event' %}">Самоназначение</a>
                            {% endif %}
                        {% endif %}
                        {% if user|perms:"events.change_event" %}
                            {% if object.status == 'planned' %}
                                <a href="{% url 'events:change_status' pk=object.id status='in_progress' %}">Начать</a>
                            {% endif %}
                            {% if object.status == 'in_progress' %}
                                <a href="{% url 'events:change_status' pk=object.id status='canceled' %}">Отменить</a>
                                <a href="{% url 'events:change_status' pk=object.id status='completed' %}">Завершить</a>
                            {% endif %}
                            <a href="{% url 'events:event_update' pk=object.id %}">Изменить</a>
                        {% endif %}
                        {% if user|perms:"events.delete_event" %}
                            <a href="{% url 'events:event_delete' pk=object.id %}">Удалить</a>
                        {% endif %}
                    {% endif %}
                    {% if user|perms:"events.change_event" %}
                        {% if object.status == 'canceled' or object.status == 'completed' %}
                            <a href="{% url 'events:change_status' pk=object.id status='planned' %}">Вернуть к планированию</a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ BASE_URL }}{% url 'events:event' pk=object.id %}" class="copy_link">Скопировать ссылку</a>
                    <a href="{{ previous_page_l1 }}">Назад</a>
                </nav>
            </div>
        {% else %}
            {# Вывод сообщения, если элемента нет #}
            <div class="not-found">
                <p>Мероприятие не найдено!</p>
            </div>
        {% endif %}

    </div>

    <div class="tab-menu-container">
        <nav class="tab-menu">
            <a href="#tab1" class="tab-menu-link" onclick="openTab(event, 'tab1')">Описание</a>
            <a href="#tab2" class="tab-menu-link" onclick="openTab(event, 'tab2')">Участники [{{qs_count}}]</a>
            {% if 'core.change_event' in perms %}
                {% if object.participants_generator %}
                    <a href="#tab3" class="tab-menu-link" onclick="openTab(event, 'tab3')">Настройки</a>
                {% endif %}
            {% endif %}
            <a href="#tab4" class="tab-menu-link" onclick="openTab(event, 'tab4')">Пересечения [{{intersecting_events_count}}]</a>
            {% if user|perms:"reviews.view_review" %}
                <a href="#tab5" class="tab-menu-link" onclick="openTab(event, 'tab5')">Отзывы [{{reviews_qs_count}}]</a>
            {% endif %}
            {% if 'core.view_employeesgroupobjectpermission' in perms %}
                <a href="#tab6" class="tab-menu-link" onclick="openTab(event, 'tab6')">Объектные права [{{group_object_permissions_qs_count}}]</a>
            {% endif %}
        </nav>
    </div>

    <div class="tab-content-container">

        <div id="tab1" class="tab-content">
            {% if object.desc %}
                <p>{{object.desc}}</p>
            {% else %}
                <p>Описания нет!</p>
            {% endif %}
        </div>

        <div id="tab2" class="tab-content">
            <div class="filters-header">
                <a href="" class="filters-button">Фильтры</a>
            </div>
            <div class="filters-area">
                <form action="" method="get" class="form filter-form">
                {{ filterset.form.as_p }}
                <nav class="form-menu ">
                    <input type="submit" value="Найти" class="button"/>
                </nav>
                </form>
            </div>
            {% if object_list %}
                <div class="list-table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Сотрудник</th>
                                <th>Присутствие</th>
                                {% if object.status != 'canceled' and user|perms:"events.change_event"%}
                                    <th>Действия</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <td>{{obj.employee}}</td>
                                    <td>{{obj.get_presence_mark_display}}</td>
                                    {% if object.status != 'canceled' and user|perms:"events.change_event" %}
                                        <td>
                                            {% if obj.presence_mark != 'registered' and obj.presence_mark != 'present'%}
                                                <p><a href="{% url 'events:responsibles_mark' pk=obj.id status='present' %}">Отметить присутствие</a></p>
                                            {% endif %}
                                            {% if obj.presence_mark != 'absent' and obj.presence_mark != 'refused' %}
                                                <p><a href="{% url 'events:responsibles_mark' pk=obj.id status='absent'%}">Отметить отсутствие</a></p>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {# Пагинация #}
                <div class="pagination">
                    {# Информация о предыдущих страницах #}
                    {% if page_obj.has_previous %}
                        <a href="?{% url_replace page=1 %}">1</a>
                        {% if page_obj.previous_page_number != 1 %}
                            <span class="pagination-gap">...</span>
                            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                    {% endif %}

                    {# Информация о текущей странице #}
                    <span class="current-page">{{ page_obj.number }}</span>

                    {# Информация о следующих страницах #}
                    {% if page_obj.has_next %}
                        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                            <span class="pagination-gap">...</span>
                            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% else %}
                {# Вывод сообщения, если элемента нет #}
                    <div class="not-found">
                        <p>Участники не найдены!</p>
                    </div>
            {% endif %}
            {# Управление #}
            <div class="submenu-container">
                <nav class="submenu">
                    {% if 'core.change_event' in perms %}
                        {% if object.status != 'completed' and object.status != 'canceled' %}
                            {% if object.participants_generator %}
                                <a href="{% url 'events:participants_generator_update' pk=object.participants_generator.id %}">Изменить участников</a>
                            {% else %}
                                <a href="{% url 'events:participants_generator_create' pk=object.id %}">Добавить участников</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </nav>
            </div>
        </div>

        <div id="tab3" class="tab-content">
            {% if object.participants_generator %}
                <p><span class="description-item">Дата добавления сотрудников:</span> {{object.participants_generator.changed}}</p>
                {% if object.participants_generator.added_groups.all %}
                    <p><span class="description-item">Добавляемые группы:</span>
                        {% for added_group in object.participants_generator.added_groups.all %}
                            <span>
                                {{added_group}}{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if object.participants_generator.added_users.all %}
                    <p><span class="description-item">Добавляемые сотрудники:</span>
                        {% for added_user in object.participants_generator.added_users.all %}
                            <span>
                                {{added_user}}{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if object.participants_generator.excluded_groups.all %}
                    <p><span class="description-item">Исключаеммые группы:</span>
                        {% for excluded_group in object.participants_generator.excluded_groups.all %}
                            <span>
                                {{excluded_group}}{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if object.participants_generator.excluded_users.all %}
                    <p><span class="description-item">Исключаеммые сотрудники:</span>
                        {% for excluded_user in object.participants_generator.excluded_users.all %}
                            <span>
                                {{excluded_user}}{% if not forloop.last %}, {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                {% if object.participants_generator.start_date_lte %}
                    <p><span class="description-item">Дата приема до или равна:</span>
                        {{object.participants_generator.start_date_lte}}
                    </p>
                {% endif %}
                {% if object.participants_generator.start_date_gte %}
                    <p><span class="description-item">Дата приема после или равна:</span>
                        {{object.participants_generator.start_date_gte}}
                    </p>
                {% endif %}
            {% endif %}
        </div>

        <div id="tab4" class="tab-content">
            {# Вывод элементов #}
            {% if intersecting_events_page_obj %}
                <div>
                    <div class="list-table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Мероприятия</th>
                                    <th>Участники</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event, common_participants in intersecting_events_page_obj %}
                                    <tr>
                                        <td><a href="{% url 'events:event' pk=object.id %}" target="_blank">{{ event }}</a></td>
                                        <td>
                                            {% if common_participants %}
                                                {% for participant in common_participants %}{{ participant }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                            {% else %}
                                                нет
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if intersecting_events_page_obj.has_previous %}
                            <a href="?{% url_replace intersecting_events_page=1 %}">1</a>
                            {% if intersecting_events_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace intersecting_events_page=intersecting_events_page_obj.previous_page_number %}">{{ intersecting_events_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ intersecting_events_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if intersecting_events_page_obj.has_next %}
                            <a href="?{% url_replace intersecting_events_page=intersecting_events_page_obj.next_page_number %}">{{ intersecting_events_page_obj.next_page_number }}</a>
                            {% if intersecting_events_page_obj.paginator.num_pages != intersecting_events_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace intersecting_events_page=intersecting_events_page_obj.paginator.num_pages %}">{{ intersecting_events_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {# Вывод сообщения, если элементов нет #}
                    <div class="not-found">
                        <p>Пересечения участников не найдены!</p>
                    </div>
            {% endif %}
        </div>

        {% if user|perms:"reviews.view_review" %}
            <div id="tab5" class="tab-content">
                {# Фильтр элементов #}
                <div class="filters-header">
                    <a href="" class="filters-button">Фильтры</a>
                </div>
                <div class="filters-area">
                    <form action="" method="get" class="form filter-form">
                        {{ reviews_filter.form.media.css }}
                        {{ reviews_filter.form.as_p }}
                        {{ reviews_filter.form.media.js }}
                    <nav class="form-menu ">
                        <input type="submit" value="Найти" class="button"/>
                    </nav>
                    </form>
                </div>
                {# Вывод элементов #}
                {% if reviews_page_obj %}
                    <div class="tab-list-grid">
                        {% for obj in reviews_page_obj %}
                            <div class="tab-list-grid-item">
                                <div class="tab-list-grid-item-content">
                                    <p class="text-align-right">{% if reviews_average_mark %}<span class="review-mark">{{obj.score}}</span>{% endif %}</p>
                                    <h3>{{obj.creator}}</h3>
                                    <p><span class="description-item">Дата и время создания:</span> {{obj.created}}</p>
                                    <p>{{obj.text}}</p>
                                    {% if user|perms:"reviews.change_review" or user|perms:"reviews.delete_review" %}
                                        <div class="submenu-mini submenu-mini-end">
                                            {% if 'reviews.change_review' in perms %}
                                                <a href="{% url 'reviews:review_update' pk=obj.id %}">Изменить</a>
                                            {% endif %}
                                            {% if 'reviews.delete_review' in perms %}
                                                <a href="{% url 'reviews:review_delete' pk=obj.id %}">Удалить</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if reviews_page_obj.has_previous %}
                            <a href="?{% url_replace reviews_page=1 %}">1</a>
                            {% if reviews_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace reviews_page=reviews_page_obj.previous_page_number %}">{{ reviews_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ reviews_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if reviews_page_obj.has_next %}
                            <a href="?{% url_replace reviews_page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                            {% if reviews_page_obj.paginator.num_pages != reviews_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace reviews_page=reviews_page_obj.paginator.num_pages %}">{{ reviews_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {# Вывод сообщения, если элементов нет #}
                        <div class="not-found">
                            <p>Отзывы не найдены!</p>
                        </div>
                {% endif %}

                {# Управление #}
                <div class="submenu-container">
                    <nav class="submenu">
                        {% if result %}
                            {% if haves_review == False %}
                                {% if 'reviews.add_review' in perms %}
                                    <a href="{% url 'reviews:review_create' type='event' pk=object.id %}">Создать</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </nav>
                </div>
            </div>
        {% endif %}

        {% if 'core.view_employeesgroupobjectpermission' in perms %}
            <div id="tab6" class="tab-content">
                {# Фильтр элементов #}
                <div class="filters-header">
                    <a href="" class="filters-button">Фильтры</a>
                </div>
                <div class="filters-area">
                    <form action="" method="get" class="form filter-form">
                        {{ group_object_permissions_filter.form.media.css }}
                        {{ group_object_permissions_filter.form.as_p }}
                        {{ group_object_permissions_filter.form.media.js }}
                    <nav class="form-menu ">
                        <input type="submit" value="Найти" class="button"/>
                    </nav>
                    </form>
                </div>
                {# Вывод элементов #}
                {% if group_object_permissions_page_obj %}
                    <div class="list-table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Группа</th>
                                    <th>Права</th>
                                    <th>Объект</th>
                                    {% if 'core.delete_employeesgroupobjectpermission' in perms %}
                                        <th>Действия</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in group_object_permissions_page_obj %}
                                    <tr>
                                        <td>{{obj.group}}</td>
                                        <td>{{obj.permission.name}}</td>
                                        <td>{{obj.content_object}}</td>
                                        {% if 'core.delete_employeesgroupobjectpermission' in perms %}
                                            <td>
                                                <a href="{% url 'core:employees_group_object_permissions_delete' type='event' pk=object.id employees_group_object_permission_pk=obj.id %}">Удалить</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {# Пагинация #}
                    <div class="pagination">
                        {# Информация о предыдущих страницах #}
                        {% if group_object_permissions_page_obj.has_previous %}
                            <a href="?{% url_replace group_object_permissions_page=1 %}">1</a>
                            {% if group_object_permissions_page_obj.previous_page_number != 1 %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace group_object_permissions_page=group_object_permissions_page_obj.previous_page_number %}">{{ group_object_permissions_page_obj.previous_page_number }}</a>
                            {% endif %}
                        {% endif %}

                        {# Информация о текущей странице #}
                        <span class="current-page">{{ group_object_permissions_page_obj.number }}</span>

                        {# Информация о следующих страницах #}
                        {% if group_object_permissions_page_obj.has_next %}
                            <a href="?{% url_replace group_object_permissions_page=group_object_permissions_page_obj.next_page_number %}">{{ group_object_permissions_page_obj.next_page_number }}</a>
                            {% if group_object_permissions_page_obj.paginator.num_pages != group_object_permissions_page_obj.next_page_number %}
                                <span class="pagination-gap">...</span>
                                <a href="?{% url_replace group_object_permissions_page=group_object_permissions_page_obj.paginator.num_pages %}">{{ group_object_permissions_page_obj.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    {# Вывод сообщения, если элементов нет #}
                        <div class="not-found">
                            <p>Объектные права не найдены!</p>
                        </div>
                {% endif %}
                {# Управление #}
                <div class="submenu-container">
                    <nav class="submenu">
                        {% if 'core.add_employeesgroupobjectpermission' in perms %}
                            <a href="{% url 'core:employees_group_object_permissions_create' type='event' pk=object.id %}">Создать</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
