{# Подключение index #}
{% extends 'index.html' %}

{# Подключение заголовка #}
{% block title %}
Удаление отзыва
{% endblock %}

{% block content %}

<div class="detail-card-container">

    <div class="content-type-div">
        <span class="content-type-basic">Объектные отзыва</span>
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="form">
        {# Стандартная защита формы #}
        {% csrf_token %}
        <p>Удаляем "{{ object }}"?</p>
        <nav class="form-menu">
            <button type="button" onclick="history.back();" class="button">Отмена</button>
            <input type="submit" value="Удалить" class="button"/>
        </nav>
    </form>

</div>

{% endblock content %}