{# Подключение index #}
{% extends 'index.html' %}

{# Подключение кастомных тегов #}
{% load custom_tags %}

{# Подключение заголовка #}
{% block title %}
Лидеры
{% endblock title %}

{# Подключение контента #}
{% block content %}

<div class="leaders-container">

    {# Заголовок элементов #}
    <div class="h1-center">
        <h1>Лидеры</h1>
    </div>
    {# Фильтр элементов #}
    <div class="filters-header">
        <a href="" class="filters-button">Фильтры</a>
    </div>
    <div class="filters-area">
        <form action="" method="get" class="form filter-form">
        {{ filterset.form.as_p }}
        <nav class="form-menu ">
            <input type="submit" value="Найти" class="button"/>
        </nav>
        </form>
    </div>
    {# Вывод элементов #}

    {% if page_obj %}
        <div class="long-list-grid">
            {% for obj in page_obj %}
                <div class="long-list-grid-item">
                    <div class="long-list-grid-item-header">
                        <p class="text-align-right"><span class="bonus-mark">{{ obj.filter_rank }} | {{ obj.total_rank }}</span></p>
                    </div>
                    <div class="long-list-grid-item-content-with-image">
                        <div class="long-list-grid-item-content-with-image-image-container">
                            {% if obj.avatar %}
                               <img src="{{obj.avatar.url}}">
                            {% else %}
                                <div class="long-list-grid-item-content-with-image-image-container-blank">

                                </div>
                            {% endif %}
                        </div>
                        <div class="long-list-grid-item-content-with-image-text-container">
                            <h3>{{obj}}</h3>
                            <p><span class="description-item">Бонусы (по выборке | общие):</span> {{obj.filter_bonus}} | {{obj.total_bonus}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {# Пагинация #}
            <div class="pagination">
                {# Информация о предыдущих страницах #}
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=1 %}">1</a>
                    {% if page_obj.previous_page_number != 1 %}
                        <span class="pagination-gap">...</span>
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}

                {# Информация о текущей странице #}
                <span class="current-page">{{ page_obj.number }}</span>

                {# Информация о следующих страницах #}
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
                        <span class="pagination-gap">...</span>
                        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% else %}
        {# Вывод сообщения, если элементов нет #}
            <div class="not-found">
                <p>Лидеры не найдены!</p>
            </div>
    {% endif %}

    {# Управление #}

</div>

{% endblock content %}
